*.iml
.gradle
/local.properties
# Claves locales de la API de Marvel. Ver secrets.properties.example.
secrets.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/release/output-metadata.json
/app/release/app-release.apk
